form {
  width: 90%;
  margin: 30px auto;
  font-size: 20px;
}

label, input, textarea, span {
  display: block;
}

input, textarea {
  width: 100%;
}

input[type=date], input[type=number], .date, .length {
  width: 130px;
}

.length, .length + p {
  display: inline-block;
  margin-right: 10px;
}

input {
  height: 20px;
}

button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
  background-color: cadetblue;
}

input.ng-touched.ng-invalid {
  border:solid red 2px;
}

input.ng-touched.ng-valid {
  border:solid green 2px;
}

.progControlSelect2 {
  width: 100%;
}
